<div class="dashboard-container">
  <h2>Nastavnik Panel</h2>
  <div class="tabs">
    <button [class.active]="currentTab === 'grades'" (click)="currentTab = 'grades'">Ocene</button>
    <button [class.active]="currentTab === 'absences'" (click)="currentTab = 'absences'">Izostanci</button>
    <button [class.active]="currentTab === 'messages'" (click)="currentTab = 'messages'">Poruke</button>
  </div>
  <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
  
  <div *ngIf="currentTab === 'grades'" class="tab-content">
    <div class="card">
      <h3>Unesi novu ocenu</h3>
      <form [formGroup]="gradeForm" (ngSubmit)="onGradeSubmit()">
         <select formControlName="student_id"><option value="" disabled>-- Učenik --</option><option *ngFor="let s of students" [value]="s._id.$oid">{{s.name}}</option></select>
         <input type="text" formControlName="subject" placeholder="Predmet">
         <input type="number" formControlName="value" placeholder="Ocena">
         <input type="date" formControlName="date">
        <button type="submit" [disabled]="gradeForm.invalid">Unesi ocenu</button>
      </form>
    </div>
  </div>

  <div *ngIf="currentTab === 'absences'" class="tab-content">
    <div class="card">
      <h3>Evidentiraj izostanak</h3>
      <form [formGroup]="absenceForm" (ngSubmit)="onAbsenceSubmit()">
         <select formControlName="student_id"><option value="" disabled>-- Učenik --</option><option *ngFor="let s of students" [value]="s._id.$oid">{{s.name}}</option></select>
         <input type="date" formControlName="date_from" placeholder="Datum od">
         <input type="date" formControlName="date_to" placeholder="Datum do">
         <input type="text" formControlName="reason" placeholder="Razlog (opciono)">
        <button type="submit" [disabled]="absenceForm.invalid">Evidentiraj</button>
      </form>
    </div>
    <div class="card">
        <h3>Evidencija izostanaka</h3>
        <ul><li *ngFor="let a of myAbsences">Učenik: {{a.student_id}} | Period: {{a.date_from | date}} - {{a.date_to | date}} | Status: {{ a.justification_status }}</li></ul>
    </div>
  </div>

  <div *ngIf="currentTab === 'messages'" class="tab-content">
    <div class="card">
      <h3>Razgovor sa roditeljima</h3>
      <select [(ngModel)]="selectedParentId" (change)="loadConversation()">
        <option value="" disabled>-- Izaberi roditelja --</option>
        <option *ngFor="let p of parents" [value]="p._id.$oid">{{ p.name }}</option>
      </select>

      <div class="chat-box" *ngIf="selectedParentId">
        <div *ngFor="let msg of conversation" class="message">{{msg.sender_role}}: {{msg.content}}</div>
      </div>
      
      <form [formGroup]="messageForm" (ngSubmit)="onMessageSubmit()" *ngIf="selectedParentId">
        <textarea formControlName="content" placeholder="Napišite poruku..."></textarea>
        <button type="submit" [disabled]="messageForm.invalid">Pošalji</button>
      </form>
    </div>
  </div>
</div>