<div class="dashboard-container">
  <h2>Lekar Panel</h2>
  <div class="card">
    <h3>Zahtevi za opravdanje</h3>
    <table>
      <thead>
        <tr>
          <th>Učenik ID</th>
          <th>Razlog</th>
          <th>Status</th>
          <th>Akcije</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let req of requests">
          <td>{{ req.student_id }}</td>
          <td>{{ req.reason_from_student }}</td>
          <td>{{ req.status }}</td>
          <td *ngIf="req.status === 'ZAPRIMLJEN'">
            <button (click)="approve(req._id.$oid)">Odobri</button>
            <button (click)="reject(req._id.$oid)">Odbij</button>
          </td>
          
        </tr>
      </tbody>
    </table>
  </div>
</div>
