<div class="dashboard-container">
  <h2>Roditelj Panel</h2>
  <div class="card">
    <h3>Razgovor sa nastavnicima</h3>
    <select [(ngModel)]="selectedTeacherId" (change)="loadConversation()">
      <option value="" disabled>-- Izaberi nastavnika --</option>
      <option *ngFor="let t of teachers" [value]="t._id.$oid">{{ t.name }}</option>
    </select>

    <div class="chat-box" *ngIf="selectedTeacherId">
      <div *ngFor="let msg of conversation" class="message"><strong>{{msg.sender_role}}:</strong> {{msg.content}}</div>
    </div>
    
    <form [formGroup]="messageForm" (ngSubmit)="onMessageSubmit()" *ngIf="selectedTeacherId">
      <textarea formControlName="content" placeholder="Napišite poruku..."></textarea>
      <button type="submit" [disabled]="messageForm.invalid">Pošalji</button>
    </form>
    <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
  </div>
</div>